@page
@using System.Data.SqlClient

@{
    try
    {
        string id = Request.Query["id"];

        string connectionString = "Data Source=.\\MSSQLSERVER01;Initial Catalog=mystore;Integrated Security=True";
        using (SqlConnection connection = new SqlConnection(connectionString))
        {
            connection.Open();
            string sql = $"DELETE FROM clients WHERE id = {id}";
            using (SqlCommand command = new SqlCommand(sql, connection))
            {
                command.Parameters.AddWithValue("@id", id);
                command.ExecuteNonQuery();
            }
        }
    }
    catch
    {
        <div class="alert alert-danger" role="alert">
            Error deleting client
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    finally
    {
        Response.Redirect("/Clients/Index");
    }

}
